<article id="valeurs">
    <div class="col_portrait">
        <img src="img/1000i100-millicent-billette-de-villemeur-annee-2015-photo-portrait-600px.png"
             alt="Portrait Millicent Billette de Villemeur" class="portrait">
    </div>
    <div class="col">
        <p>
            Informaticien passionné depuis l'enfance, j'ai vite compris que la technologie pouvait servir l'humain
            aussi bien que l'asservir.
        </p>
        <p>
            Mon travail est de mettre la technologie à votre service.
        </p>
        <p class="liste_valeurs">
            <a href="#libre_simple_privacy" class="subPageLink">Liberté</a>
            - <a href="#libre_simple_privacy" class="subPageLink">Simplicité</a>
            - <a href="#libre_simple_privacy" class="subPageLink">Confidentialité</a>
        </p>
    </div>
</article>
