<h3>Coordonnées</h3>
<section class="flex_container">
    <div class="tier">
        <strong>À tout moment</strong><br/>
        <a href="mailto:millicent@1forma-tic.fr">millicent@1forma-tic.fr</a><br/>
        SMS : <a href="tel:0033770772770">+33&nbsp;(0)&nbsp;770&nbsp;772&nbsp;770</a>
    </div>
    <div class="tier">
        <strong>7j/7 de 12h&nbsp;à&nbsp;22h</strong><br/>
        Mobile : <a href="tel:0033770772770">+33&nbsp;(0)&nbsp;770&nbsp;772&nbsp;770</a><br/>
        Je répondrai si je suis disponible.
    </div>
    <div class="tier">
        <strong>Sur rendez-vous</strong><br/>
        <a href="#plan_atelier" class="subPageLink">26 Ter, rue André Lapelleterie, 33130, Bègles</a><br/>
        GPS : <a href="geo:44.81126,-0.55367">44.81126,-0.55367</a>
    </div>
</section>
<a href="#plan_atelier" class="subPageLink"><img src="img/plan-atelier-1forma-tic.png" class="plan"/></a>
<section id="plan_atelier" class="subPage">
    Voir avec <a href="https://www.openstreetmap.org/way/159271047" target="_blank">OpenStreetMap</a> ou <a
            href="https://www.google.fr/maps/?q=1twitif" target="_blank">Google Maps</a><br/>

    <iframe id="osm" width="100%" height="100%"></iframe>
</section>
