<h3>Mentions légales</h3>

<h4>Responsable éditorial et hébergement web</h4>
<address>
    Millicent Billette - 1forma-tic.fr
    <br/>26 Ter, rue André Lapelleterie, 33130, Bègles
    <br/><a href="tel:0033770772770">+33&nbsp;(0)&nbsp;770&nbsp;772&nbsp;770</a>
    <br/><a href="mailto:contact@1forma-tic.fr?subject=[legals]">contact@1forma-tic.fr</a>
    <br/>SIRET : <a href="https://www.societe.com/societe/m-millicent-billette-de-villemeur-520193897.html"
                    target="_blank">520&nbsp;193&nbsp;897&nbsp;00037</a>
</address>
<h4>Crédits et licences</h4>
<p>
    Aux exceptions ci-dessous près, le code source et les contenus du site sont sous licence
    <a href="#CC0" class="subPageLink">CC-0</a>.
</p>
<section id="CC0" class="subPage">
    <h2><a href="https://creativecommons.org/publicdomain/zero/1.0/deed.fr" target="_blank"><img
                    src="img/CC0-1080px.png" alt="licence CC-0"/></a></h2>
</section>
<p>
    Logo et portrait sont réutilisables uniquement dans les termes suivants :
</p>
<ul>
    <li>Comme référence à mon activité pour <a href="#pourquoi-1forma-tic" class="subPageLink">le logo</a>,
        accompagnés d'un lien vers le présent site.
    </li>
    <li>Comme référence à ma personne pour mon portrait, accompagnés de mon nom (et sans me prêter des propos
        qui
        ne sont pas les miens).
    </li>
</ul>
<p>
    Les contenus de la section références peuvent être sous diverses licences selon les projets. Si vous
    souhaitez les réutiliser, consulter moi.
</p>
<h4>Politique de confidentialité</h4>
<p>
    Pas de cookies sur ce site, ni de publicités ou d'indiscrétions de ma part ni de porte d'accès pour des
    tiers.
</p>
<p>
    Ce site respecte votre vie privée.
</p>
<p>
    Je considère l'usage de <a href="#definition_logs_serveur" class="subPageLink">logs serveur</a> anonymisés
    comme une trace plus que suffisante pour évaluer la fréquentation globale du site.
    Le site étant physiquement hébergé dans mes locaux, ces logs serveur ne sont accessibles à aucun tiers.
</p>
<section id="definition_logs_serveur" class="subPage"><%- include("definition_logs_serveur") %></section>
